# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# IDE
.idea
.vscode

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node
node_modules/
npm-debug.log
.npm

# macOS - Exclude all metadata files
.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini 